body {
  background-image: url('./images/upperWave.png');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 50%;

  @media (max-width: 1200px) {
    padding: 2rem;
  }
}

@font-face {
  font-family: 'InterRegular';
  src: url('./fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterBold';
  src: url('./fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p,
span,
a,
button,
input,
textarea,
select,
li {
  font-family: 'InterRegular';
}

h1 {
  font-size: 3.1rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

label {
  font-size: 1.25rem;
}

:root {
  --white-blue: #fbfcff;
  --white: #ffffff;
  --black: #000000;
  --light-blue: #5BC0F8;
  --lighter-blue: #D2EFFF;
  --blue: #0081C9;
  --yellow: #FFC93C;

  /* Add more variables for fonts, spacing, etc. */
}